* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
}
body {
  background-color: #252323;
  color: white;
}


.App-logo {
  height: 4vmin;
  margin-left: 15%;
  pointer-events: none;
}

.navigation-area a {
  font-family: var(--secondFont);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  /* margin-left: 5%; */
  padding-inline: 10%;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  transition-duration: .4s;
}

.language {
  margin-right: 15%;
}

.first-name {
  margin-right: 20px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 18px;
}

.letra-cor:hover {
  color: #83DA8A;
}
.letra-cor-fixa {
  color: #83DA8A;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Faz com que a imagem fique rodando */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
