/* Organização inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  color: white;
  text-decoration: none;
}
body {
  background-color: #252323;
}

/* Definições do App */
/* .App {} */

/* Definições do Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Tamanho da logo */
.App-logo {
  height: 2.5em;
  pointer-events: none;
}

/* Animação da navbar */
.navbar a {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
  color: #83DA8A;
}
.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #83DA8A;
  transition: .3s;
}
.navbar a:hover::before{
  width: 100%;
}

/*  */
/*  */
 
.first-name {
  margin-right: 20px;
}
.name {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: 2rem; */
  /* letter-spacing: 18px; */
}
.letra-cor:hover {
  color: #83DA8A;
}
.letra-cor-fixa {
  color: #83DA8A;
}